@model QuestionnaireData.Models.Questionnaire

@{
    ViewData["Title"] = "Index";
    ViewData["QuestionnaireId"] = Model.Id;
    var json = Model.ToJson(Newtonsoft.Json.Formatting.Indented);
}

<h2>Index</h2>

@using (Html.BeginForm(FormMethod.Post, new { modelData = Model }))
{
    <div>
        @await Html.PartialAsync("QuestionnairePartialView", Model)
    </div>
    <input id="json" type="hidden" value="@json" />
    <input id="questionnaireId" type="hidden" value="@Model.Id" />
}
