@model Questionnairor.Models.Question

<div>
    <input type="text" readonly="readonly" value="@Model.Title" />
    <input type="text" readonly="readonly" value="Includes @Model.Choices.Count choices." />

    @Html.ActionLink("Edit", "Edit", "Question", new { questionId = Model.Id })
    @Html.ActionLink("Delete", "Remove", "Question", new { questionId = Model.Id })
</div>
