@model Questionnairor.Models.Questionnaire

<div>
    <input type="text" readonly="readonly" value="@Model.Title" />
    <input type="text" readonly="readonly" value="Includes @Model.Questions.Count questions." />

    @Html.ActionLink("Edit", "Edit", "Questionnaire", new { id = Model.Id })
    @Html.ActionLink("Delete", "Remove", "Questionnaire", new { id = Model.Id })
</div>
