@model Dictionary<Guid, QuestionnaireData.Models.Questionnaire>

@{
    ViewData["Title"] = "Questionnaire";
}

<h2>Questionnaire</h2>
@using (Html.BeginForm(FormMethod.Post))
{
    <input id="loadButton" name="loadButton" type="submit" value="Load Questionnaire" disabled="disabled" formaction="@Url.Action("Load", "Questionnaire")" />
    <br />
    <br />
    <textarea id="jsonData" name="jsonData"></textarea>
    <br />
    <input type="file" name="fileInput" id="fileInput" />
    <script type="text/javascript">
        function readFile(event) {
            var fileName = event.target.files[0];

            if (fileName) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var data = event.target.result;
                    document.getElementById('jsonData').value = data;
                }
                reader.readAsText(fileName);
                document.getElementById('loadButton').disabled = false;
            }
        }
        function textEdit(event) {
            document.getElementById('fileInput').value = "";
            if (document.getElementById('jsonData').value == "") {
                document.getElementById('loadButton').disabled = true;
            }
            else {
                document.getElementById('loadButton').disabled = false;
            }
        }
        document.getElementById('fileInput').addEventListener('change', readFile, false);
        document.getElementById('jsonData').addEventListener('change', textEdit, false);
    </script>
    <hr />
    foreach (var questionnaire in Model.Values)
    {
        @await Html.PartialAsync("QuestionnairePartialView", questionnaire)
    }
    <br />
    <div>
        <input type="submit" value="Add Questionnaire" formaction="@Url.Action("AddEmpty", "Questionnaire")" />
    </div>
}

