@model FeedbackModel

@using (Html.BeginForm("Index", "Questionnaire", FormMethod.Get))
{
    <h2>@Model.Answers.Title</h2>
    <p>@Model.Answers.Conclusion</p>
    @foreach(Response response in Model.Responses)
    {
        <p>@response.Feedback</p>
    }
}
<div>
    <a href="@Url.Action("Index", "Questionnaire", new { Area = "" })"><input type="button" value="Finish Questionnaire" /></a>
</div>


