@model Questionnairor.Areas.Viewer.Models.ChoiceWithIndex

<td>
<input 
       type="radio" 
       id="Questions[@Model.QuestionIndex].Answer"
       name="Questions[@Model.QuestionIndex].Answer" 
       value="@Model.Value"
       class="Answer"
       @if (Model.IsDefault)
       {
           @: checked = "checked"
       }
       onchange="answers()"
       />
</td>